@import "styles/variables";

.btn {
  background-color: $violet;
  border: 0;
  border-radius: 999px;
  color: white;
  font-weight: 800;
  font-size: 16px;
  padding: 8px 24px;
  font-family: $poppins;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  user-select: none;
  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  svg {
    margin-right: 8px;
  }

  &:hover {
    opacity: 0.7;
  }
}
