@import "styles/variables";

.article {
  padding: 10px 15px;
  display: flex;
  border-bottom: 1px solid $lightGray;

  &:hover {
    background-color: $lightGray;
  }

  .container {
    padding-right: 10px;
  }

  .text {
    .username {
      font-size: 16px;
      line-height: 1.3125;
      margin: 0;
    }
    .message {
      font-size: 14px;
      margin: 0;
    }
    .img {
      height: auto;
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .a {
      color: gray;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
