@import "styles/variables";

.header {
  position: sticky;
  display: flex;
  align-items: center;
  height: 50px;
  top: 0;
  border-bottom: 1px solid $violet;
  width: 100%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  background-color: $pink;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;

  .h3 {
    color: black;
  }
}
.nav {
  position: sticky;
  bottom: 0;
  height: 49px;
  border-top: 1px solid $violet;
  width: 95%;
  background-color: $light;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
