@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

$primary: #ffff;
$pink: #f8c7c8;
$violet: #8468f5;
$light: #eeeeee;

$poppins: "Poppins", sans-serif;
