@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap");

$yellow: #e5e855;
$opaqueGreen: #ccd389;
$lightGray: #e0e0e0;

$openSans: "Open Sans", sans-serif;
